@using Microsoft.AspNetCore.Identity

@inject SignInManager<FastFoodUser> SignInManager
@inject UserManager<FastFoodUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["Title"] - FastFoodWorkshop
    </title>
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-ffw font-weight-bold">
            <a class="navbar-brand" style="color: #8e3904" href="#">Fast Food Workshop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
                <ul class="nav navbar-nav">
                    <partial name="_LeftNavItems" />
                </ul>
                <ul class="nav navbar-nav">
                    <partial name="_RightNavItems" />
                </ul>
            </div>
        </nav>
        <div class="jumbotron mt-3 ffw-jumbo-image">
            <main>
                @RenderBody()
            </main>
        </div>
        <footer>
            <div class="container-fluid bg-ffw">
                <div class="text-center">
                    &copy; Fast Food Workshop Inc. All rights reserved.
                </div>
            </div>
        </footer>
    </div>
    <partial name="_CookieConsentPartial" />
    <environment include="Development">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
