<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["Title"] - FastFoodWorkshop
    </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/reset.css" />
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-ffw font-weight-bold">
            <a class="navbar-brand" style="color: #8e3904" href="#">Fast Food Workshop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #8e3904" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #8e3904" asp-controller="Home" asp-action="Index">Who are we?</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #8e3904" asp-controller="Home" asp-action="Index">Order food</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #8e3904" asp-controller="Home" asp-action="Index">Join Us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <partial name="_LoginPartial">
                </ul>
            </div>
        </nav>
    </div>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container-fluid bg-ffw">
            <div>
                &copy; Fast Food Workshop Inc. All rights reserved.
            </div>
        </div>
    </footer>
    <partial name="_CookieConsentPartial" />
    <environment include="Development">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
