@using Microsoft.AspNetCore.Identity

@inject SignInManager<FastFoodUser> SignInManager
@inject UserManager<FastFoodUser> UserManager


<li class="nav-item active">
    <a id="navigationAnchor" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole(CommonStrings.UserRole))
    {
        <li class="nav-item active">
            <a id="navigationAnchor" class="nav-link" asp-area="" asp-controller="User" asp-action="MyProfile">My Profile</a>
        </li>
        <li class="nav-item active">
            <a id="navigationAnchor" class="nav-link" asp-controller="Home" asp-action="Index">Propose Recipe</a>
        </li>
        <li class="nav-item active">
            <div class="btn-group">
                <a class="btn btn-link nav-link ffw-text-brown button-size font-weight-bold border-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Company Info
                </a>

                <div class="dropdown-menu bg-ffw" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item ffw-text-brown font-weight-bold" asp-action="WhoAreWe" asp-controller="Home">Who are we?</a>
                    <a class="dropdown-item ffw-text-brown font-weight-bold" asp-action="ContactsPage" asp-controller="Home">Contacts Page</a>
                    <a class="dropdown-item ffw-text-brown font-weight-bold" asp-action="JoinUs" asp-controller="Applicant">Join Us</a>
                </div>
            </div>
        </li>
        <li class="nav-item active">
            <div class="btn-group">
                <a class="btn btn-link nav-link ffw-text-brown button-size font-weight-bold border-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Order Food
                </a>

                <div class="dropdown-menu bg-ffw" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item ffw-text-brown font-weight-bold" href="#">Our Menus</a>
                    <a class="dropdown-item ffw-text-brown font-weight-bold" href="#">Create Menu</a>
                </div>
            </div>
        </li>
    }
    else if (User.IsInRole(CommonStrings.EmployeeRole))
    {
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Home" asp-action="Index">My Profile</a>
        </li><li class="nav-item active">
            <div class="btn-group">
                <a class="btn btn-link nav-link ffw-text-brown button-size font-weight-bold border-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Orders
                </a>

                <div class="dropdown-menu bg-ffw" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item ffw-text-brown font-weight-bold" href="#">Pending</a>
                    <a class="dropdown-item ffw-text-brown font-weight-bold" href="#">On The Way</a>
                    <a class="dropdown-item ffw-text-brown font-weight-bold" href="#">Delivered</a>
                </div>
            </div>
        </li>
        <li class="nav-item active">
            <div class="btn-group">
                <a class="btn btn-link nav-link ffw-text-brown button-size font-weight-bold border-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Order Food
                </a>

                <div class="dropdown-menu bg-ffw" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item ffw-text-brown font-weight-bold" href="#">Our Menus</a>
                    <a class="dropdown-item ffw-text-brown font-weight-bold" href="#">Create Menu</a>
                </div>
            </div>
        </li>
    }
    else if (User.IsInRole(CommonStrings.ManagerRole))
    {
        <li>
            <a asp-area="Manager" asp-controller="ManagerHome" asp-action="Index"
               class="btn btn-danger">Managment</a>
        </li>
    }
}
else
{
    <li class="nav-item active">
        <div class="btn-group">
            <a class="btn btn-link nav-link ffw-text-brown button-size font-weight-bold border-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Company Info
            </a>

            <div class="dropdown-menu bg-ffw" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item ffw-text-brown font-weight-bold" asp-area="" asp-action="WhoAreWe" asp-controller="Home">Who are we?</a>
                <a class="dropdown-item ffw-text-brown font-weight-bold" asp-area="" asp-action="ContactsPage" asp-controller="Home">Contacts Page</a>
                <a class="dropdown-item ffw-text-brown font-weight-bold" asp-area="" asp-action="JoinUs" asp-controller="Applicant">Join Us</a>
            </div>
        </div>
    </li>
    <li>
        <div class="btn-group">
            <a class="btn btn-link nav-link ffw-text-brown button-size font-weight-bold border-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order Food
            </a>

            <div class="dropdown-menu bg-ffw" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item ffw-text-brown font-weight-bold" asp-area="">Our Menus</a>
                <a class="dropdown-item ffw-text-brown font-weight-bold" asp-area="">Create Menu</a>
            </div>
        </div>
    </li>
}
