@using Microsoft.AspNetCore.Identity

@inject SignInManager<FastFoodUser> SignInManager
@inject UserManager<FastFoodUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);

    <li class="nav-item active">
        <h4>@user.FirstName</h4>
    </li>
    <li class="nav-item active">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
            <button class="btn btn-default" style="color: #8e3904" type="submit">Logout</button>
            @*<a class="nav-link" style="color: #8e3904" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>*@
        </form>
    </li>
}
else
{
    <li class="nav-item active">
        <a class="nav-link" style="color: #8e3904" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" style="color: #8e3904" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
