@using Microsoft.AspNetCore.Identity

@inject SignInManager<FastFoodUser> SignInManager
@inject UserManager<FastFoodUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>

}
else
{
    <li class="nav-item active">
        <a class="nav-link" style="color: #8e3904" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" style="color: #8e3904" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
