@{
    ViewData["Title"] = "ApplicantSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ffw-text-brown ffw-text-brown text-center">You have finished applying for a job</h2>
<div class="formDiv">
    <div class="w-50 mx-auto mt-4">
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <a class="btn btn-default custom-btn" asp-action="Index" asp-controller="Home">Back</a>
            </div>
        </div>
    </div>
</div>

