@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert alert-success alert-dismissable">
    <a href="javascript:window.history.back()" class="close" aria-label="close">Back</a>
    <strong>You have successfully added a jod to your CV</strong>
</div>

