footer {
    position: fixed;
    bottom: 0;
    border: 0;
    width: 98%;
}

.bg-ffw {
    background-color: #f9ab36;
}

.navbar-brand {
    font-size: 25px;
}

li {
    font-size: 17px;
}

.button-size {
    font-size: 17px;
}

.ffw-jumbo-image {
    background-image: url("../images/doner/doner00.jpg");
    background-size : cover;
    height: 1000px;
}

.ffw-text-white {
    color: white;
}

.ffw-text-brown {
    color: #8e3904;
}

.hr-size {
    height: 2px;
}

.width-size {
    width: 48%;
}

.centeredDiv {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 800px;
    height: 100px;
    background-color: green;
}

.registerDiv {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #f9ab36;
    align-content: center;
}

.logindivDiv {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #f9ab36;
    align-content: center;
}

.forgotPassword {
    color: #8e3904;
    margin-left: 298.5px;
}

#navigationAnchor.nav-link {
    color: #8e3904;
}

#dropdownMenuLink {
    color: #8e3904;
}

#navAnchor.navbar-brand {
    color: #8e3904;
}

.whoAreWeImagePizza {
    background-image: url("../images/pizza/pizza03.jpg");
    background-size: cover;
    height: 1200px;
}

.ffw-text-font-size {
    font-size: 25px;
}

.btn-default.custom-btn {
    background-color: #f9ab36;
    color: #8e3904;
}

.googleMap {
    height:600px;
}