@model UserDetailsViewModel
@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ffw-text-brown text-center titleMargin">@ViewData["Title"]</h2>
<div class="formDiv">
    <div>
        <img src="@String.Format("data:image/jpg;base64,{0}", Model.Picture)"/>
    </div>
</div>

