@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="ffw-text-white text-center">@ViewData["Title"]</h2>

<div class="w-50 mx-auto mt-4">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="d-flex justify-content-between">
            <div class="form-group width-size">
                <label asp-for="Input.FirstName" class="ffw-text-white"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group width-size">
                <label asp-for="Input.LastName" class="ffw-text-white"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group width-size">
                <label asp-for="Input.Username" class="ffw-text-white"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group width-size">
                <label asp-for="Input.Address" class="ffw-text-white"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group width-size">
                <label asp-for="Input.DateOfBirth" class="ffw-text-white"></label>
                <input asp-for="Input.DateOfBirth" class="form-control" />
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group width-size">
                <label asp-for="Input.Email" class="ffw-text-white"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group width-size">
                <label asp-for="Input.Password" class="ffw-text-white"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group width-size">
                <label asp-for="Input.ConfirmPassword" class="ffw-text-white"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
