@model FastFoodWorkshop.ServiceModels.Home.EducationInputModel
@{
    ViewData["Title"] = "Add Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="ffw-text-brown text-center titleMargin">@ViewData["Title"]</h2>
<div class="formDiv">
    <div class="w-50 mx-auto mt-4">
        <form method="post">
            <div class="d-flex justify-content-between">
                <div class="form-group width-size">
                    <label asp-for="StartYear" class="ffw-text-brown">Start Year</label>
                    <input type="date" asp-for="StartYear" class="form-control" placeholder="Start Year" />
                    <span asp-validation-for="StartYear" class="text-danger"></span>
                </div>
                <div class="form-group width-size">
                    <label asp-for="EndYear" class="ffw-text-brown">End Year</label>
                    <input type="date" asp-for="EndYear" class="form-control" placeholder="End Year" />
                    <span asp-validation-for="EndYear" class="text-danger"></span>
                </div>
            </div>
            <div class="align-self-center">
                <div class="form-group">
                    <label asp-for="OrganizationName" class="ffw-text-brown">Organization Name</label>
                    <input type="text" asp-for="OrganizationName" class="form-control" placeholder=">Organization Name" />
                    <span asp-validation-for="OrganizationName" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-default custom-btn">Submit</button>
            </div>
        </form>
    </div>
</div>

