@{
    ViewData["Title"] = "JoinUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ffw-text-brown text-center titleMargin">@ViewData["Title"]</h2>
<div class="formDiv">
    <div class="w-50 mx-auto mt-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="d-flex justify-content-between">
                <div class="form-group width-size">

                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-default custom-btn">Register</button>
            </div>
        </form>
    </div>
</div>


